<div class="d-flex align-items-center justify-content-between mb-4 mt-2">
  <span class="h2 m-none">Setup Profile</span>
  <mat-icon (click)="logout()" (keydown.enter)="logout()">logout</mat-icon>
</div>

@if (loading) {
  <div class="dialog-spinner">
    <mat-spinner></mat-spinner>
  </div>
} @else {
  <div class="row">
    <div class="col-md-6">
      <app-card>
        <form [formGroup]="userForm" class="form">
          <div class="row">
            <div class="col-12 mb-3">
              <app-form-field-input label="First Name" formControlName="firstName"> </app-form-field-input>
            </div>

            <div class="col-12 mb-3">
              <app-form-field-input label="Last Name" formControlName="lastName"> </app-form-field-input>
            </div>

            <div class="col-12">
              <app-form-field-input class="disabled" label="Email" formControlName="email"> </app-form-field-input>
            </div>
          </div>
        </form>
      </app-card>
    </div>
  </div>

  <button
    class="w-100"
    app-button
    variant="brand"
    emphasis="primary"
    [disabled]="userForm?.invalid || userForm?.pending || userForm?.pristine"
    (click)="saveProfile()"
    (keydown.enter)="saveProfile()"
  >
    Complete Profile
  </button>
}
