<div class="app-footer__links">
  <div class="app-footer__content-link" (click)="onContactUsClick()" (keyup)="onContactUsClick()">Contact Us</div>
  <div class="app-footer__content-link" (click)="onPrivacyClick()" (keyup)="onPrivacyClick()">Privacy Policy</div>
  <div class="app-footer__content-link" (click)="onAboutUsClick()" (keyup)="onAboutUsClick()">About Us</div>
</div>

<img class="app-footer__logo" src="assets/images/SyncVizion-logo.png" alt="SyncVizion Logo" />

<div class="app-footer__address">
  <div>850 Euclid Ave Ste 819 #5568</div>
  <div>Cleveland, OH 44114</div>
  <div>{{ email }}</div>
</div>
