.app-footer {
  flex-shrink: 0;
  bottom: 0;
  width: 100%;
  height: 150px;
  margin-top: auto;
  border-top: 2px solid var(--mat-sys-border);
  padding: 0 25px;
  background-color: var(--mat-footer-background-color);
  color: var(--mat-text-offset-color);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;

  &__links {
    display: flex;
    flex-direction: column;
    width: auto;
  }

  &__address {
    div {
      font-size: 16px;
      text-align: right;
      padding: 10px 0;
      width: auto;
    }
  }

  &__content-link {
    text-align: left;
    cursor: pointer;
    padding: 10px 0;
    font-size: 16px;
    width: auto;
  }

  &__logo {
    filter: brightness(0) invert(1);
    width: 125px;
    height: 125px;
  }
}

@media screen and (max-width: 768px) {
  .app-footer {
    padding: 0 25px;
  }
}

@media screen and (max-width: 550px) {
  .app-footer {
    padding: 0 15px;
    padding-bottom: 5px;
    height: 115px;
  }

  .app-footer__logo {
    width: 100px;
    height: 100px;
  }

  .app-footer__links {
    width: 100%;
  }

  .app-footer__address {
    display: none;
  }

  .app-footer__content-link {
    padding: 5px 0;
  }
}

@media screen and (max-width: 425px) {
  .app-footer .row {
    margin: 10px;
  }

  .app-footer {
    padding: 0 15px;
    padding-bottom: 5px;

    .copyright {
      font-size: 14px;
    }

    .content-link {
      font-size: 16px;
    }
  }
}
