:host(.cards-search__container) {
  top: 12px;
  position: fixed;
  display: flex;
  width: 96%;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.search-bar {
  display: flex;
  align-items: center;
  backdrop-filter: blur(8px);
  background: var(--mat-nav-search-background);
  border: 1px solid var(--mat-sys-outline-variant); // light border
  border-radius: 24px;
  padding: 6px 12px;
  width: 100%;
  max-width: 400px;

  transition:
    box-shadow 0.2s ease,
    background 0.2s ease;

  &:focus-within {
    box-shadow: 0 0 0 2px rgba(33, 150, 243, 0.2);
  }

  &__icon {
    color: var(--mat-text-color);
    font-size: 20px;
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }

  &__close-icon {
    color: var(--mat-text-color);
    font-size: 18px;
    width: 18px;
    height: 18px;
  }

  input {
    border: none;
    outline: none;
    background: transparent;
    flex: 1;
    font-size: 16px;
    color: var(--mat-text-color);

    &::placeholder {
      color: var(--mat-text-color);
    }
  }
}
