<mat-form-field
  floatLabel="always"
  appearance="outline"
  [class]="{ 'w-100': true, 'pb-sm': bottomGap() }"
  [subscriptSizing]="subscriptSizing()"
>
  @if (label() && showLabel()) {
    <mat-label class="text-xl"> {{ label() }}</mat-label>
  }
  <mat-select
    [formControlName]="formControlName()"
    [(value)]="value"
    [placeholder]="placeholder() ? placeholder() : 'Select ' + label()"
    [multiple]="multiple()"
    (openedChange)="onPanelToggle($event)"
    (selectionChange)="onValueChange($event)"
    (ngModelChange)="valueChange.emit(control?.value)"
  >
    @if (!multiple()) {
      <mat-select-trigger>
        @if (showColors() && value?.color) {
          <div class="single-select__trigger">
            <div
              class="single-select__trigger__color"
              [style.background-color]="value?.color + '3c'"
              [style.border]="'1px solid ' + value?.color"
            ></div>
            <span>{{ value?.[displayField()] }}</span>
          </div>
        } @else {
          <span>{{ value?.[displayField()] }}</span>
        }
      </mat-select-trigger>
    } @else if (placeholder() && multiple()) {
      <mat-select-trigger>
        @if (control?.value?.length === 1) {
          {{ control.value?.[0]?.[displayField()] || '' }}
        } @else if (control?.value?.length > 1 && control?.value?.length < items()?.length) {
          {{ placeholder() + ' (' + control?.value?.length + ')' }}
        } @else {
          {{ placeholder() + ' (All)' }}
        }
      </mat-select-trigger>
    }

    @if (clearable() && value) {
      <mat-option (click)="clearValue()" (keydown)="clearValue()"> Clear </mat-option>
    }

    @for (item of items(); track item) {
      <mat-option [value]="item">
        @if (showColors() && item?.color) {
          <div class="d-flex justify-content-center align-items-center gap-2">
            <div
              class="single-select__trigger__color"
              [style.background-color]="item?.color + '3c'"
              [style.border]="'1px solid ' + item?.color"
            ></div>
            {{ item?.[displayField()] }}
          </div>
        } @else {
          {{ item?.[displayField()] }}
        }
      </mat-option>
    } @empty {
      <mat-option class="text-center" [disabled]="true">
        <span>{{ noResultsText() }}</span>
      </mat-option>
    }
  </mat-select>

  @if (loading() || control?.pending) {
    <mat-spinner matSuffix class="mr-sm" [strokeWidth]="2" [diameter]="20"></mat-spinner>
  }

  <mat-error>{{ errorMessage() }}</mat-error>
</mat-form-field>
